################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/WinFormsDx/.vs/WinFormsDx
/src/WinFormsDx/WinFormsPowerTools.Direct2D/bin
/src/WinFormsDx/WinFormsPowerTools.Direct2D/obj
/src/WinFormsDx/WinFormsPowerTools.Direct2D.Packages/bin/Debug
/src/WinFormsDx/WinFormsPowerTools.Direct2D.Packages/obj
/src/WinFormsDx/NuGet/BuildOut
/src/WinFormsDx/D2DTestApp/bin/Debug/net8.0-windows
/src/WinFormsDx/D2DTestApp/obj
*.user
